/* Main body styles */
body {
	background: #EEE;
	color: #111;
}

/* Title / Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #444444;
}

header {
	background-color: #26262e;
}

/* Site header + navigation */
.site-header>nav {
	background-color: rgb(16, 51, 177);
}

.site-header .navbar-nav .nav-link {
	color: #EEEEEE;
	padding: 0.5em 1em;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
	background: rgb(122, 21, 1);
	border-radius: 15px;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

main {
	margin-top: 1.5rem;
}

.content-box {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	border-radius: 15px;
}

.content-box.main-content {
	min-height: 100%;
}

.news-item {
	color: #000;
}

h1.main-title {
	color: #136;
	padding-bottom: 0.4em;
	margin-top: 1rem;
	margin-bottom: 0.7em;
	border-bottom: 1px solid #DDDDDD;
}

.footer {
	padding: 10px 20px;
	margin-bottom: 20px;
	border: 1px;
	border-radius: 15px;
}
